<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Escape Room - Pregunta</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.7.8/lottie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
</head>

<body>
    <div id="particles-js"></div>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Pregunta: <%= question.question %>
        </h1>

        <div class="text-center">
            <form action="/answer/<%= question.id %>" method="post" class="mx-auto" style="max-width: 300px;">
                <div class="form-group">

                    <% question.options.forEach(function(option, index) { %>
                        <div class="option-btn">
                            <button type="submit" class="btn btn-primary" name="answer" value="<%= option %>">
                                Opción <%= index + 1 %>: <%= option %>
                            </button>
                        </div>
                        <% }); %>
                </div>
            </form>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            const progressBar = $(".progress-bar");
            const progressValue = progressBar.attr("aria-valuenow");
            progressBar.css("width", 0); // Inicialmente, establece el ancho en 0

            setTimeout(() => {
                progressBar.css("width", progressValue + "%"); // Anima a su valor real
            }, 500); // Retraso de medio segundo para que el usuario note la animación
        });
    </script>
    <script>
        particlesJS.load('particles-js', '/assets/particles-js.json', function () {
            console.log('particles.js loaded - callback');
        });
    </script>
</body>

</html>